// Colors
$color-primary: #84D1B1;
$color-accent: #56C8EB;
$color-text: #000;
$white: #fff;

//Button colors
$default-btn-color: lightblue;
$success-btn-color: lightgreen;
$error-btn-color: #b25c5c;
$warning-btn-color: #d86420;
$info-btn-color: #D9B1E6;

//Grid colors
$grid-col-12: lightgreen;
$grid-col-6: #57B1AD;
$grid-col-4: lightblue;
$grid-col-3: mediumpurple;
$grid-col-5: mediumseagreen;
$grid-col-7: lightcoral;
$grid-col-8: coral;

// Breakpoints
// $break: 768px;
$breakpoint-med: 768px;


//Fonts
$base-font: 'Lato', sans-serif;