.container {
    font-family: $base-font;
    text-align: center;
    width: 90%;
    margin: auto;
    color: $color-text;
    line-height: 1.8;
}

.blockquote {
    @extend %blockquote--style;
}

.link {
    @extend %link;
}

.grid__col--8 > .card {
    margin-right: 50px;
}

.headline--primary {
    color: $color-primary;
    padding-left: 20px;
    text-align: left;
}

.headline--secondary {
    text-align: left;
    font-weight: 300;
}